<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="ball" class="com.example.c.Balls">
    <property name="types" >
         <list>
             <value>cork ball</value>
             <value>tennis ball</value>
             <value>plastic balll</value>
         </list>
    </property>
</bean>

    <bean id="ball2" class="com.example.c.Balls" parent="ball">
        <property name="types" >
            <list merge="true">
                <value>football</value>
                <value>bsketball</value>

            </list>
        </property>
    </bean>


</beans>
